body { font: normal 16px Helvetica, Verdana; color: #333; }
h1 { font-family: "Courier New"; }
a { text-decoration: none; color: rebeccapurple; }
.directions { display: block; margin-bottom: 10px; font-size: 80%; }
.wrapper { width: 70%; min-width: 300px; background: #eee; text-align: center; padding: 20px; margin: 0 auto; box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0,0,0,0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0,0,0,0.15); }
.green { color: green; }
.bold {font-weight: bold;}
.teal { color: teal; }
.blue { color: blue; }
.orange { color: orange; }
.red { color: red; }
#final-grade { color: red; }
input {padding: 4px; outline: none; border-radius: 5px;}

table {
    padding: 20px;
    margin: 10px;
    border: 1px solid grey;
    width: 70%;
}

tr:nth-last-of-type(odd) { background-color: rgb(238, 225, 225); }
tr td { border: 2px solid #ccc; }
tr,td { padding: 10px; }